<section id="#hero" class="heroContainer">
    <div class="pictureSection">
        <img src="assets/img/profile/muratfront.png">
    </div>
    <div class="titleSectionContainer">
        <div class="titleTextContainer">
            <div class="titleTextLeft">
                I am
            </div>
            <div class="titleTextRight">
                <div class="titleTextRightTop">
                    Murat Yağlioğlu
                </div>
                <div class="titleTextRightBottom">
                    Front-End Developer
                </div>
            </div>

        </div>

        <div class="titleButtonContainer">
            <a href="#contact">Let's talk!</a>
        </div>
    </div>
</section>
<section class="contactContainer">
    <div class="contactRow">     
            <div class="lineLeft">
            </div>
        <div>
            <a href="https://github.com/MYaglioglu"><img src="assets/img/icons/githubBtn.png"></a>
        </div>
        <div>
            <a href="#contact"><img src="assets/img/icons/emailBtn.png"></a>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/murat-yaglioglu-2a63612b7/"><img src="assets/img/icons/linkedinBtn.png"></a>
        </div>
        <div>
            <a href="#contact">M.Yaglioglu&#64;web.de</a>
        </div>
    </div>
    <div class="scrollDown">
        <div>
            <span>Scroll Down</span>
            <img src="assets/img/icons/arrowDown.png">

        </div>
    </div>
</section>
<div class="heroBottom">
    <img class="curve" src="assets/img/backgrounds/shapeHeroBottom.png">
    <img class="curveResponsive" src="assets/img/backgrounds/shapeHeroBottomResponsive.png">
</div>