<section>
    <div id="about" class="aboutMeTextContainer">
        <div class="aboutMeTitle">
            <h1>About Me</h1>
        </div>
        <div class="aboutMeIntro">
            <p>
                Hi, I'm Murat. I'm a frontend developer with a passion for creating web applications. I'm always looking for new challenges and opportunities to expand my knowledge and skills. I'm a quick learner and a team player who is always open to new ideas and suggestions. I'm looking forward to working with you.
            </p>
        </div>
        <div class="aboutMeInfo">
            <img src="assets/img/icons/bulb.png">
            <p>
                I completed my further education as a frontend developer at the Developer Academy. Code reviews by experienced mentors helped me to expand my skills and deepen my knowledge.
            </p>
        </div>
        <div class="aboutMeInfo">
            <img src="assets/img/icons/puzzle.png">
            <p>
                Together in a team or even alone, I program responsive web applications. To realize simple landing pages, complex business apps, or even a 2D jump-and-run game, I mainly use JavaScript and Angular. Feel free to get an impression of my work by trying out my projects.
            </p>
        </div>
    </div>
    <div class="aboutMeImage">
        <div class="aboutMeRound">
            <img src="assets/img/profile/muratface.png">
        </div>
        <div class="aboutMeLine">
        </div>
    </div>
</section>
<div class="backGroundBlur">
    <img src="assets/img/backgrounds/blur.png">
</div>