<section>
    <div class="skillIconContainer">
        <div class="skillIcon">
            <img src="assets/img/icons/skillIcon1.png">
            <p>Angular</p>
        </div>
        <div class="skillIcon">
            <img src="assets/img/icons/skillIcon2.png">
            <p>TypeScript</p>
        </div>
        <div class="skillIcon">
            <img src="assets/img/icons/skillIcon3.png">
            <p>JavaScript</p>
        </div>
        <div class="skillIcon">
            <img src="assets/img/icons/skillIcon4.png">
            <p>HTML</p>
        </div>
        <div class="skillIcon">
            <img src="assets/img/icons/skillIcon5.png">
            <p>Firebase</p>
        </div>
        <div class="skillIcon">
            <img src="assets/img/icons/skillIcon6.png">
            <p>GIT</p>
        </div>
        <div class="skillIcon">
            <img src="assets/img/icons/skillIcon7.png">
            <p>CSS</p>
        </div>
        <div class="skillIcon">
            <img src="assets/img/icons/skillIcon8.png">
            <p>Rest-Api</p>
        </div>
        <div class="skillIcon">
            <img src="assets/img/icons/skillIcon9.png">
            <p>Scrum</p>
        </div>
        <div class="skillIcon">
            <img src="assets/img/icons/skillIcon10.png">
            <p>Material design</p>
        </div>
    </div>
    <div class="skillTextContainer">
        <div class="skillText">
            <h1>My Skills</h1>
            <div class="skillTextLine">
            </div>
        </div>
        <div class="skillText">
            <p>
                I have grown my frontend developments skills that have allowed me to create different real projects.
            </p>
        </div>
        <div class="touchBtn">
            <a href="#contact">Get in touch</a>
        </div>
    </div>
</section>
<div class="backGroundBlur">
    <img src="assets/img/backgrounds/blurSkills.png">
</div>
