<section>
    <div class="logo">
        <img src="assets/img/profile/murat.png" alt="">
        <a href="/impressum">Impressum</a>
    </div>
    <span>
        © Murat Yağlioğlu 2024
    </span>
    <div class="iconsRow">
        <div>
            <a href="https://github.com/MYaglioglu"><img src="assets/img/icons/githubBtn.png"></a>
        </div>
        <div>
            <a href="#contact"><img src="assets/img/icons/emailBtn.png"></a>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/murat-yaglioglu-2a63612b7/"><img src="assets/img/icons/linkedinBtn.png"></a>
        </div>
    </div>
</section>